<% layout('layouts/boiler') -%>

    <body>
        <h3>Add new listing</h3>
        <br />
        <div class="row">
            <div class="col-8 offset-2">
                <form method="POST" action="/listings" novalidate class="needs-validation"
                    enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="listing[title]" placeholder="enter cachy title" class="form-control"
                            required />
                        <div class="valid-feedback">
                            Title Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid discription.
                        </div>

                    </div>
                    <div class="mb-3">
                        <label for="discription" class="form-label">Discription</label>
                        <textarea type="text" name="listing[description]" placeholder="enter discription"
                            class="form-control" required></textarea>
                        <div class="invalid-feedback">
                            Please provide a valid discription.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Image url</label>
                        <input type="file" name="listing[image]" placeholder="enter image url" class="form-control" />
                    </div>
                    <div class="row">
                        <div class="mb-3 col-lg-4 col-md-12 col-sm-12">
                            <label for="price" class="form-label">Price</label>
                            <input name="listing[price]" placeholder="1200" class="form-control" required />
                            <div class="invalid-feedback">
                                Please provide a valid price.
                            </div>
                        </div>
                        <div class="mb-3 col-lg-8 col-md-12 col-sm-12">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" name="listing[country]" placeholder="india" class="form-control"
                                required />
                            <div class="invalid-feedback">
                                Please provide a valid country.
                            </div>

                        </div>
                    </div>
                    <div class=" mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" placeholder="jaipure" class="form-control"
                            required />
                        <div class="invalid-feedback">
                            Please provide a valid location.
                        </div>
                    </div>
                    <br />
                    <button class="add-btn">ADD</button>
                </form>
                <br />
            </div>
        </div>
    </body>